@import "global.css";
body{
    background:none;
    background-color: rgba(0,0,0,0.6);
}
#container {
    width: 100%;
    height:auto !important;
    height:800px;
    min-height:800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
section{
    width: 100%;
    margin: 0px auto;
    height:auto !important;
    height:800px;
    min-height:800px;

}
#list_content{
    width: 70%;
    margin: 0 auto;
    border: 5px solid #494949;
    max-height: 80%;
    overflow: auto;
    margin-top: 10px;
}
.list_info{
    border-top: 5px solid #776a6a;
    border-right: 5px solid #776a6a;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: rgb(51, 51, 51);
    overflow: hidden;
    height: 50px;
}
.li_list:last-child .list_info{
    border-bottom: 5px solid #776a6a;
}
.li_list:nth-child(odd)
{
    background: #f2dede;
}
.li_list:nth-child(even)
{
    background:#d9edf7;
}
.list_extract,.list_filename,.list_netdisk,.list_downloads{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: inherit;
}
.list_extract{
    width: 115px;
    border-right: 5px solid #776a6a;
    float: left;
}
.list_filename{
    width: 540px;       /* 360Chrome Hack */
    width: calc(100% - 405px);
    float: left;
    border-right: 5px solid #776a6a;
}
.list_netdisk{
    width: 115px;
    float: left;
    border-right: 5px solid #776a6a;
}
.list_downloads{
    float: left;
    width: 160px;
}
.clear{
    clear: both;
}
.list_number{
    margin-top: -5px;
}
.list_text{
    cursor: pointer;
}
#file_info{
    border: 5px solid #494949;
    margin: 0 auto;
    width: 70%;
    min-height: 300px;
    margin-top: 100px;
    background: #f2dede;
    font-size: 20px;
    padding:10px 10px;
    overflow: auto;
    line-height: 25px;
    word-break: break-all;

}
footer {
    position: relative;
}
.left{
    text-align: left;
    white-space:normal;
}