/* footer信息 */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#hp_foot  {
    height: 35px;
    background-color: rgb(36,36,36);
    box-shadow: 0px 1px 3px rgb(43, 43, 43);
    z-index:9;
    width: 100%;
    position: relative;
    border: 0px none;
    padding: 0px;
}

#hp_btn_div {
    position: relative;
    height: 40px;
}

#bg_btn {
    position: absolute;
    right: 80px;
    top: 5px;
}

#bg_btn li {
    display: inline;
    margin: 0px 10px
}

#hp_info_div {
    height: 120px;

    background:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
    background:-webkit-gradient(linear,center top,center bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));
    background:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
    background:-ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
}

.scroll_area {
    margin: 0px auto;
    width: 80%;
    height: 100%;

}

.foot_scroll_info  {
    width: 49%;
    float: left;
    color: #fff;
}

.border {
    float: left;
    border-left: 1px dotted #b6b6b6;
    margin-top: 10px;
    width: 1px;
    height: 80%;
}

.scroll_text {
    padding: 20px 20px;
}

.text_title {
    text-align: left;
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
}

.scroll_text p {
    width: 100%;
    height: 60px;
    color: #b6b6b6;

    text-indent: 2em;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hp_foot {
    color: #fff;
}

#hp_foot_ip {
    position: absolute;
    top: 6px;
    left: 15px;
    z-index: 10;
}

#hp_foot_hdu {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #b4b4b4;
}

#hp_foot_hdu li{
    display: inline;
    padding: 0px 14px;
}

#hp_foot_hdu li a {
    color: #b4b4b4;
}

#hp_foot_hdu li a:hover {
    color: #fff;
}

.foot_hdu_info {
    font-family: "楷体";
    color: #b4b4b4;
}

#foot_hdu_spl {
    color: #fff;
}