@import "global.css";

#container {
    width: 100%;
    height:auto !important;
    height:800px;
    min-height:800px;
    position: relative;
    margin: auto;
    background-color: rgba(50,50,50,0.7);
    overflow: hidden;
}

footer {
    position: relative;
}

.log_box {
    width: 1000px;
    margin: 0px auto;
    height:auto !important;
    height:800px;
    min-height:800px;
    background-color: #F6F6F6;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.pattern {
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;

}

.title {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    color: #666;
    padding-bottom: 10px;
    border-bottom: 2px dotted #a6a6a6;
}

.title_2 {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #3a3a3a;
    padding: 10px 0px;
    margin-left: -20px;
}

.title_3 {
    font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #4a4a4a;
    padding: 10px;
    margin-left: -35px;
}

.main_text {
    font-size: 16px;
    color: #666;
    text-indent: 1.5em;

}

.main_list {
    margin: 0px 30px;
    width: 100%;
}

.main_list li {
    list-style-type: upper-roman;
    font-size: 15px;
    line-height: 25px;
    padding: 30px -5px;
    text-indent: 0em;
}