@import "reset.css";
@import "icon.css";
@import "searchbar.css";
@import "header.css";
@import "footer.css";
@import "userlog.css";

html, body , #container{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

#container {
    min-width: 1000px;
    width: 100%;
    min-height: 562px;
    height: 100%;
    position: relative;
    margin: auto;
}

#hp_bg {
    position: absolute;
    background-color: rgb(49,49,49);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow: hidden;
}

#hp_bg img {
    width: 0px;
    height: 0px;
    display: none;
}

#hp_bl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3000px;
    height: 3000px;
    background: rgba(0,0,0,0);
}

.index_left {
    position: absolute;
    top: 32px;
    bottom: 32px;
    left: 0px;
}

.index_right {
    position: absolute;
    top: 35px;
    bottom: 35px;
    right: 0px;
}

.btn_area {
    width: 100px;
}

.btn_area img {
    position: absolute;
    opacity: 0.3;
    top:43%;
}

.index_left:hover {
    cursor: pointer;
    background:-moz-linear-gradient(-90deg, rgba(0,0,0,0.0),rgba(0,0,0,0.3));
    background:-webkit-gradient(linear,left ,right ,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)));
    background:-webkit-linear-gradient(-180deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
    background:-ms-linear-gradient(-90deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
    background:linear-gradient(-90deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
}

.index_right:hover {
    cursor: pointer;
    background:-moz-linear-gradient(90deg, rgba(0,0,0,0.0),rgba(0,0,0,0.3));
    background:-webkit-gradient(linear,right ,left ,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)));
    background:-webkit-linear-gradient(0deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
    background:-ms-linear-gradient(90deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
    background:linear-gradient(90deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
}
