@import "global.css";
#container {
    background:none;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
section{
	width: 100%;
	height: calc(100% - 80px);
}
#list_content{
	width: 70%;
	margin: 0 auto;
	border: 5px solid #494949;
	max-height: 80%;
	overflow: auto;
	margin-top: 10px;
}
.list_info{
	border-top: 5px solid #776a6a;
	border-right: 5px solid #776a6a;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	color: rgb(51, 51, 51);
	overflow: hidden;
	height: 50px;
}
.li_list:last-child .list_info{
	border-bottom: 5px solid #776a6a;
}
.li_list:nth-child(odd)
{
background: #f2dede;
}
.li_list:nth-child(even)
{
background:#d9edf7;
}
.list_extract,.list_filename,.list_netdisk,.list_downloads{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: inherit;
}
.list_extract{
	width: 115px;
	border-right: 5px solid #776a6a;
	float: left;
}
.list_filename{
	width: calc(100% - 355px);
	float: left;
	border-right: 5px solid #776a6a;
}
.list_netdisk{
	width: 115px;
	float: left;
	border-right: 5px solid #776a6a;
}
.list_downloads{
	float: left;
	width: 100px;
}
.clear{
	clear: both;
}
#list_page{
	width: 70%;
	margin: 0 auto;
	
}
#pages{
	margin-left:200px;
	float: left;
	margin-top: 10px;
}
#pages a{
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
	color: #12c;
	font-size: 15px;
}
#pages a:hover{
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
	color: #f06693;
}
.now{
	color: black;
}
.page_Y{
 	background: url("../image/y.png") no-repeat;
	width: 28px;
	height: 55px;
	margin: 0 auto;
	display: block;
}
.page_O{
	background: url("../image/o.png") no-repeat;
	width: 20px;
	height: 45px;
	display: block;
}
.list_number{
	margin-top: -5px;
}
#page_up{
	margin-left: 100px;
	float: left;
	margin-top: 30px;
}
#page_down{
	margin-right: 100px;
	float: right;
	margin-top: 30px;
}
.list_text{
	cursor: pointer;
}
.img_arrowleft {
    background: url("../image/icon/arrow_left.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.img_arrowright {
    background: url("../image/icon/arrow_right.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.left{
	text-align: left;
	white-space:normal;
}