@import "searchbar_global.css";

#reg_box {
    position: absolute;
    top: 35px;
    left: 0px;
    bottom: 35px;
    right: 0px;
    background: rgba(0,0,0,0.6);
}

#reg_area {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 100%;
    background: rgba(245,245,245,0.9);
    overflow: hidden;
}

#info_area {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 50%;
    height: 90%;
}

/* 注册页面标题 */

#reg_title {
    padding: 5px 0px;
}

#title_big {
    font-size: 2.5em;
    color: #3a3a3a;
    font-weight: bold;
}

#title_big > span {
    padding-left: 10px;
    font-size: 0.6em;
    color: #5a5a5a;
    font-weight: normal;
}

#title_small {
    padding-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

#title_small > span {
    color: #2a2a2a;
    font-size: 0.8em;
}

/* 新表格结构 */
.items_title {
    width: 65%;
    padding: 4px 3px;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #4a4a4a;
    text-align: left;

    border-bottom: 1px solid #9a9a9a;
}
.fi {
    float: left;
    margin-top: 15px;
    text-align: left;
    height: auto;
    width: 800px;
    line-height: 24px;
    position: relative;
}

.fi label {
    float: left;
    width: 100px;
    font-size: 17px;
    color: #2a2a2a;
    text-align: right;
}

.textbox {
    float: left;
}

.input_textbox {
    width: 150px;
    height: 23px;
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 2px 5px;
}

.msg {
    flat: left;
    width: 800px;
    padding-left: 18px;
}

.notice-info {
    font-size: 14px;
    color: #3a3a3a;
    padding-left: 30px;
}

.hide {
    display: none;
}


.float-clear {
    clear: both;
}

.readonly {
    background-color: #c6c6c6;
}

.reg_checkbox {
    float: left;
    margin-top: 25px;
}

.reg_checkbox label {
    text-align: left;
    font-size: 0.95em;
    color: #FF3366;
}

.reg_checkbox input {

}

.reg_richbox {
    margin: 5px 0px;
    padding: 5px 5px;
    border: 1px solid #7a7a7a;

    height: 100px;
    word-wrap: break-word;
    word-break: normal;
    line-height: 22px;
    color: #2a2a2a;
    font-size: 0.8em;
}

#btn_submit {
    margin: 20px 0;
    width: 90px;
    height: 35px;
    font-size: 1.05em;

    background-color: rgba(0,0,0,0.7);
    color: #d6d6d6;
    border: 1px solid #7a7a7a;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
}

#btn_submit:hover {
    cursor: pointer;
    color: #f6f6f6;
    background: rgba(0,0,0,0.9);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

/* 提交表格 */
#reg_info_form {
    position: absolute;
    top: 90px;
    left: 30px;
}
