* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: microsoft YaHei UI;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins
{
    text-decoration: none;
}
del
{
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* end eric meyer css reset */
a {
    color: #1C8AD7;
    text-decoration: none;
}
a:active, a:hover {
    color: #f18740;
    text-decoration: none;
}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
height: 50px;
background-color: #999;
border-radius: 4px;
outline-offset: -2px;
}
::-webkit-scrollbar-track-piece {
background-color: #f4f4f4;
border-radius: 1px;
}
body,html{
    width: 100%;
    height: 100%;
     }


.h_25 { height: 25px; }
.h_30 { height: 30px; }
.h_40 { height: 40px; }
.h_60 {height: 60px; }

.w_40 { width: 40px; }
.w_80 { width: 80px; }
.w_100 { width: 100px; }
.w_150 { width: 150px; }
.w_200 { width: 200px; }
.w_300 { width: 300px; }
.w_350 { width: 350px; }
.w_400 { width: 400px; }
.w_500 { width: 500px; }
.w_600 { width: 600px; }
.w_p85 { width: 85%; }
.w_p95 { width: 95%; }
.w_p97 { width: 97%; }

.type_anime, .type_video, .type_game, .type_music, .type_picture, .type_other {
    font-weight: bold;
}

.type_anime { color: #f60 !important;}
.type_video { color: #3366CC !important;}
.type_game { color: #8AE600 !important; }
.type_music { color: #00E600 !important;}
.type_picture { color: #FF6699 !important;}
.type_other { color: #6666CC !important; }
